*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-family: sans-serif;
  color: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    /* transform: translateY(15px); */
  }

  100% {
    opacity: 1;
    /* transform: translateY(0px); */
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    height: 50px;
  }

  100% {
    opacity: 0;
    height: 0px;
  }
}